{% extends 'articles/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <div class="form-group text-center mt-4 mb-4">
                    <button type="submit" class="btn btn-primary btn-block mb-1" style="border-radius: 20px;height: 40px;padding: 1px">
                        Post
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
