{% extends 'articles/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card bg-white shadow-lg">
                <div class="card-header border-bottom-0 bg-white pb-0">
                    <h4 class="text-gray">You have been logged out</h4>
                </div>
                <div class="card-body">
                    <a href="/users/login/" class="btn btn-outline-info">Back to login page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
